<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FullScreenAppsPrefs First Page</string>
		</dict>
		<dict>
			<key>action</key>
			<string>selectExcludeApps</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select apps to make full screen</string>
			
    	</dict>
	</array>
	<key>title</key>
	<string>FullScreenAppsPrefs</string>
</dict>
</plist>
